* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Vazir';
    text-decoration: none;
    outline: none !important;
    list-style: none;
}

@font-face {
    font-family: 'Vazir';
    src: url(../fonts/Vazir.ttf);
}

@font-face {
    font-family: 'material-icons';
    src: url(../fonts/material-icons.ttf);
}

span.ico {
    font-family: 'material-icons';
    cursor: pointer;
}

body {
    height: 100vh;
    direction: rtl;
    text-align: right;
}

form {
    position: relative;
}

.login-form h2 {
    font-weight: bold;
}

.login-form .d-flex {
    gap: 20px;
}

.form-group {
    position: relative;
}

.form-group .ico {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 17px;
}

.form-group .eye {
    position: absolute;
    bottom: 1px;
    left: 1px;
    width: 40px;
    height: 35px;
    background: #fff;
    display: grid;
    place-items: center;
    font-size: 17px;
    font-family: 'material-icons';
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    user-select: none;
}

.login-form .form-group .form-control {
    padding-right: 35px;
}

.banner {
    position: absolute;
    width: calc(100% - 90px);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-right: 20px;
    z-index: 5;
}

.banner img {
    width: 60px;
    margin-bottom: 10px;
}


/* end of forms */

.main-container {
    width: calc(100% - 100px);
    margin: 0 auto;
    padding: 100px 30px 30px 30px;
}

.main-container .header {
    width: 60%;
    padding: 30px;
    margin: 30px auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-container .header img {
    width: 100px;
    margin-bottom: 20px;
}